ZEPTO_API_URL=https://api.zeptomail.com/v1.1/email
ZEPTO_API_TOKEN=Zoho-enczapikey PHtE6r0KQuq/izEs+xdT46fsFpKlM44rruxhLlFD5NlHDfYLS01cq94olmfkqh18BqIWEvCYydg+t7qbu77Xc2zvZ2dNDWqyqK3sx/VYSPOZsbq6x00bsV0Sf0baV4XmddNr3CLUud3dNA==
ZEPTO_MAIL_FROM_NAME=Pharmviah
ZEPTO_MAIL_FROM_ADDRESS=noreply@pharmviah.com
ZEPTO_CONTACT_TO=contact@pharmviah.com
ZEPTO_CONTACT_TO_NAME=Pharmviah Contact